<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login With AJAX Flask</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
</head>

<body>
    <h1>Library Login</h1>
    <div id = "msgs">{{messages}}</div>
    <label for="password">Username:</label>
    <input type="text" id="username" name="username" /><br/><br/>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" /><br/><br/>
    <button type="submit" id="login">Login</button>

    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>
</html>