<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body {
            background-color: red;
        }
    </style>
</head>

<body>
    <h1>Profile</h1>
    <p>First Name: {{user_info.first_name}}</p>
    <p>Last Name: {{user_info.last_name}}</p>
    <p>Email: {{user_info.email}}</p>
    <p>Phone: {{user_info.phone}}</p>
    <p>Is_Librarian: {{user_info.is_librarian}}</p>
    <a href="/logout">Logout</a>
</body>
</html>
