<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body {
            background-color: rgb(209, 146, 146);
        }
    </style>
</head>

<body>
    <h1>My Profile</h1>
    <p>First Name: {{user_info.first_name}}</p>
    <p>Last Name: {{user_info.last_name}}</p>
    <p>Email: {{user_info.email}}</p>
    <p>Phone: {{user_info.phone}}</p>
    <p>user_type: {{user_info.user_type}}</p>
    <a href="/logout">Logout</a>

    <a href="/search" class="btn">Get Started</a>
</body>
</html>
