<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Search</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
    <h1>Library Search</h1>
    <hr>
    <form action="/filter" method="POST">
        <div class="horizontal-stack">
            <p>Search</p>
            <button type="submit" name="item_type" value="Book">See All Books</button>
            <button type="submit" name="item_type" value="DVD">See All DVDs</button>
            <button type="submit" name="item_type" value="CD">See All CDs</button>
            <button type="submit" name="item_type" value="CD">See All Checked Out</button>
        </div>
    </form>
    <form action="/search" method="POST">
        <div class="horizontal-stack">
            <p>Quick Search</p>
            <input type="text" name="title" placeholder="Enter title...">
            <button type="submit">Search By Item</button>
        </div>
    </form>

    <hr>
    <h2>Advanced</h2>


    <!-- Special features -->
    <p>Add Data</p>
    {% if user_info.user_type == 'librarian' %}

    <form action="/add_item" method="POST">
        <div class="horizontal-stack">
            <input type="text" name="title" placeholder="Title...">
            <input type="text" name="type" placeholder="Type...">
            <input type="text" name="availability" placeholder="Availability...">
            <button type="submit">Add Item</button>
        </div>
    </form>
    <form action="/add_user" method="POST">
        <div class="horizontal-stack">
            <input type="text" name="username" placeholder="Username...">
            <input type="text" name="password" placeholder="Password...">
            <input type="text" name="first_name" placeholder="First Name...">
            <input type="text" name="last_name" placeholder="Last Name...">
            <input type="text" name="email" placeholder="Email...">
            <input type="text" name="phone" placeholder="Phone...">
            <input type="text" name="user_type" placeholder="User Type...">
            <button type="submit">Add User</button>
        </div>
    </form>
    





        <form action="/show_all_users" method="POST">
            <button type="submit">See All Users</button>
        </form>


        <form action="/find_user" method="POST">
            <div class="horizontal-stack">
                <p>Search</p>
                <input type="text" name="user_id" placeholder="Enter ID...">
                <button type="submit" name="user_id" value="CD">See Users</button>
            </div>
        </form>


    {% elif user_info.user_type == 'patron' %}
    <!-- TODO: Prolly remove -->
    {% else %}
    <p>Error: Unknown user type</p>
    {% endif %}




    {% if items %}
        <h2>Search Results</h2>
        <div class="search-results-box">
            <form action="/checkout" method="POST">
                <ol>
                    {% for item in items %}
                        <li>
                            <input type="checkbox" name="checked_items" value="{{ item.item_id }}">
                            {{ item.title }} - {% if item.availability == 'Available' %}Available{% else %}Not Available{% endif %}
                        </li>
                    {% endfor %}
                </ol>
                <button type="submit">Checkout</button>
            </form>
        </div>
    {% endif %}

    {% if users %}
    <h2>Search Results</h2>
    <div class="all-items-box">
        <ul>
            {% for user in users %}
                <li>
                    ID: {{ user.user_id }}<br>
                    Username: {{ user.username }}<br>
                    Password: {{ user.password }}<br>
                    First Name: {{ user.first_name }}<br>
                    Last Name: {{ user.last_name }}<br>
                    Email: {{ user.email }}<br>
                    Phone: {{ user.phone }}<br>
                    User Type: {{ user.user_type }}<br>
                    <hr>
                </li>
            {% endfor %}
        </ul>
    </div>
    
    {% else %}
        <p>No user found with the specified ID.</p>
    {% endif %}

</body>
</html>
