<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Search</title>
</head>
<body>
    <h1>Library Search</h1>
    <hr>
    <h3>Search Items</h3>
    <form action="/search" method="POST">
        <input type="text" name="title" placeholder="Enter book title...">
        <button type="submit">Search</button>
    </form>
    <!-- Display search results -->
    {% if items %}
        <h2>Search Results</h2>
        <ul>
            {% for item in items %}
                <li>{{ item.title }}</li>
            {% endfor %}
        </ul>
    {% endif %}




    
    <h3>Checkout Items</h3>
    <form action="/search" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        
        <button type="submit">Search</button>
    </form>
    <h3>Display Checked Out Items</h3>
    <form action="/search" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        
        <button type="submit">Search</button>
    </form>
    <hr>



    <!-- Conditional rendering based on user type -->
    <!-- Special features -->
    {% if user_info.user_type == 'librarian' %}
    <h3>Add Librarian Or Patron</h3>
    <form action="/search" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        
        <button type="submit">Search</button>
    </form>

    <h3>Add Library Items</h3>
    <form action="/search" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        
        <button type="submit">Search</button>
    </form>

    <h3>Display All Users</h3>
    <form action="/search" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        
        <button type="submit">Search</button>
    </form>

    <h3>Search User By Library ID and see checked out items</h3>
    <form action="/search" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        
        <button type="submit">Search</button>
    </form>

    {% elif user_info.user_type == 'patron' %}
    <!-- TODO: Prolly remove -->
    {% else %}
    <p>Error: Unknown user type</p>
    {% endif %}

    
    
</body>
</html>
